/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-feb-2019, 16:39:54
    Author     : Nico
*/

.ov-h{
    overflow: hidden;
}
.pull-right{
    float: right;
}
.pull-left{
    float:left;
}